player-connection-mode=Listen
player-connection-guid=1940502653
player-connection-debug=0
player-connection-project-name=3DNetworkGame
player-connection-ip=192.168.200.83
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=62f5d0041ceb41b593f42df510db61c8
